<section class="wrapper">
		 
              <div class="row">
                  <div class="col-lg-12">
                      <section class="panel">
                          <header class="panel-heading">
                             Add User
                          </header>
                          <div class="panel-body">
                              <form class="form-horizontal">
                                  <!-- <div class="form-group">
                                      <label class="col-sm-2 control-label">Enter Username:</label>
                                      <div class="col-sm-10">
                                          <input type="text" class="form-control">
                                      </div>
                                  </div> -->
                                  <div class="row">
                                  
                                  <div class="col-lg-5 col-md-5 col-sm-5">
                                  <div class="form-group">
                                      <label class="col-sm-4 control-label">Enter firstname:</label>
                                      <div class="col-sm-6">
                                          <input type="text" class="form-control">
                                      </div>
                                     </div>
                                      <div class="form-group">
                                      <label class="col-sm-4 control-label">Enter lastname:</label>
                                      <div class="col-sm-6">
                                          <input type="text" class="form-control">
                                      </div>
                                      </div>
                                      
                                      
                                      <div class="form-group">
                                      <label class="control-label col-sm-4" for="inputSuccess">Country</label>
                                      <div class="col-lg-6">
                                          <select class="form-control m-bot15">
                                              <option>India</option>
                                              <option>USA</option>
                                              <option>UK</option>
                                              <option>Austrila</option>
                                          </select>

                                         
                                      </div>
                                  </div>
                                      
                                      
                                      
                                  </div>
                                  
                                  <div class="col-lg-5 col-md-5 col-sm-5">
                                  	<div class="form-group">
                                      <label class="col-sm-4 control-label">Enter Email:</label>
                                      <div class="col-sm-6">
                                          <input type="text" class="form-control">
                                      </div>
                                       </div>
                                       
                                       <div class="form-group">
                                      <label class="col-sm-4 control-label">Enter phone:</label>
                                      <div class="col-sm-6">
                                          <input type="text" class="form-control">
                                      </div>
                                      </div>
                                      	 
                                      	 <div class="form-group">
                                   		
                                   		 
                                   		  <label class="col-sm-4 control-label">Hobbies:</label>
                                   		 
                                   		 <div class="col-sm-3">
                                   		 <div class="checkbox">
                                              <label>
                                                  <input type="checkbox" value="">
                                                	Games
                                              </label>
                                          </div>
										 </div>
										 <div class="col-sm-3">
										 <div class="checkbox">
                                              <label>
                                                  <input type="checkbox" value="">
                                                  Drawing
                                              </label>
                                          </div>
										 
										 </div>
                                   		 
                                   		 
                                      </div>
                                      
                                          <div class="form-group">
												<label class="col-sm-4 control-label">Gender:</label>
												<div class="col-sm-3">
                                          <div class="radio">
                                              <label>
                                                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                                  Male
                                              </label>
                                          </div>
                                          </div>
                                          <div class="col-sm-3">
                                          <div class="radio">
                                              <label>
                                                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                                 Female
                                              </label>
                                          </div>
                                          </div>
                                          </div>

                                     
                                      
                                  </div>
                                  
                                  
                                  </div>
                                  <br> <br> <br> <br> <br> <br> 
                                   
                                  <div class="row">
                                   <div class="col-lg-5 col-md-5 col-sm-5">
                                  	<a class="btn btn-success" href="" >Success</a>
                                      <a class="btn btn-default" href="">Clear</a></div>
                                  </div>
                              </form>
                          </div>
                      </section>
                      
                  </div>
              </div>
              <!-- page end-->
          </section>